<!-- formdata/templates/formdata/base.html -->
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
       <header>
        <h1>Face Book</h1> </header>
        <div  class="sidenav">
            <nav>
                <li><a href="/mini_fb/"> Show all Profiles</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="/mini_fb/create_profile"> Create Profile</a></li>
                <!-- <a><form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="submit" value="Logout">
                </form>
            </a> -->
            <li><a href="/mini_fb/logout"> Log out</a></li>
                {% else %}
            <a href="{% url 'login' %}">Login</a> 
            {% endif %}
            <p>
                {% if request.user.is_authenticated %}
                Logged in user: {{request.user}}
                {% else %}
                Not logged in.
                {% endif %}
            </p>
            </nav>
        </div>

    {% block content %}
    {% endblock %}
    
    <!-- <hr>
    The current time is {{current_time}}. -->
    </body>
</html>