<!-- blog/templates/blogs/create_comment_form.html -->
{% extends 'mini_fb/base.html' %}
{% block content %}
<div class="main">
<h2>Add a new Comment  </h2>

<form method="POST" enctype="multipart/form-data">
    <!-- display the form (context variable) -->
    <!-- {{form}} -->

    <!-- display as paragraphs -->
    <!-- {{form.as_p}} -->
    
    <table>
    {{form.as_table}}

    <tr>
        <td>    <!-- <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="file" name="files" multiple>
            <button type="submit">Post Status</button>
        </form> --></td>
        <td>
            <!-- we need to add the submit button ourselves -->
            <input type="submit" name="Create Status">
            <input type="file" name = "files" multiple />
            {% csrf_token %}
        </form>
    </td>
    </tr>
    </table>


</div>

{% endblock %}