{% extends 'mini_fb/base.html' %}

{% block content %}
  <div class="main">
    <h1>{{ profile.first_name }} {{ profile.last_name }}'s Profile</h1>
    
    <!-- Display a larger profile image -->
    <div class="profile-image">
      <img src="{{ profile.profile_image_url }}" alt="{{ profile.first_name }}" style="width:200px; height:200px;">
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'update_profile' %}"style="
    display: inline-block; 
    text-decoration: none; 
    background-color: #28a745; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s;">Update Profile</a>
    {% endif %}
    <!-- Display profile information in a table -->
    <table>
      <tr>
        <th>First Name</th>
        <td>{{ profile.first_name }}</td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td>{{ profile.last_name }}</td>
      </tr>
      <tr>
        <th>City</th>
        <td>{{ profile.city }}</td>
      </tr>
      <tr>
        <th>Email Address</th>
        <td>{{ profile.email_address }}</td>
      </tr>
    </table>
    <h2>{{profile.first_name}}'s Friends</h2>
    {% if request.user.is_authenticated %}
    <a href="{% url 'friend_suggestions'  %}"style="
    display: inline-block; 
    text-decoration: none; 
    background-color: #28a745; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s;">View Friend Suggestions</a>
    <a href="{% url 'news_feed' %}"style="
    display: inline-block; 
    text-decoration: none; 
    background-color: #28a745; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s;">View News Feed</a>
     {% endif %}
<ul>
  {% if profile.get_friends %}
    {% for friend in profile.get_friends %}
      <li><a href="{% url 'show_profile' friend.pk %}">{{ friend.first_name}}{{friend.last_name}}</a></li>
      <img src="{{friend.profile_image_url}}" alt="{{friend.profile_image_url}}" style="height: 300px;">
    {% endfor %}
  {% else %}
    <p>This profile has no friends yet.</p>
  {% endif %}
</ul>
    <h2>Status Messages</h2>
    <div class="status-messages">
      {% for status in profile.get_status_messages %}
        <div class="status-message">
          <p><strong>{{ status.timestamp }}</strong>: {{ status.message }}</p>
          {% for img in status.get_images %}
          <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>
          {% endfor %}
          {% if request.user.is_authenticated %}
          <a href="{% url 'delete_status' status.pk %}"style="
          display: inline-block; 
          text-decoration: none; 
          background-color: red; 
          color: white; 
          padding: 10px 20px; 
          border-radius: 4px; 
          cursor: pointer; 
          font-size: 16px; 
          transition: background-color 0.3s;">Delete</a>
          <a href="{% url 'status_update' status.pk %}"style="
          display: inline-block; 
          text-decoration: none; 
          background-color: #28a745; 
          color: white; 
          padding: 10px 20px; 
          border-radius: 4px; 
          cursor: pointer; 
          font-size: 16px; 
          transition: background-color 0.3s;">Update</a>
          {% endif %}
        </div>
        {% empty %}
        <p>No status messages available.</p>

      {% endfor %}</div>
      {% if request.user.is_authenticated %}
      <h4><a href="{% url 'create_status' %}">
        Add a comment</a>
        {% endif %}
    </h4>
  </div>

{% endblock %}
